<div class="container">

  <div class="row">

    <div class="col">

      <form>

        <div class="form-group row">

          <label for="inputEmail3" class="col-sm-2 col-form-label">Votre Poids (Kg)</label>

          <div class="col-sm-10">

            <input type="email" class="form-control" id="inputEmail3" placeholder="Poids">

          </div>

        </div>

        <div class="form-group row">

          <label for="inputPassword3" class="col-sm-2 col-form-label">Votre Taille (cm)</label>

          <div class="col-sm-10">

            <input type="password" class="form-control" id="inputPassword3" placeholder="Taille">

          </div>

        </div>



      </form>

    </div>

    <div class="col-6">

      <!-- rien -->

    </div>

    <div class="col">

      <h2>Mes repas</h2>

      <img class="img-responsive" src="/assets/images/profilmesrepas.png" alt="ko">

    </div>

  </div>

  <div class="row">

    <div class="col">

      <form>

        <div class="form-group row">

          <label for="inputPassword3" class="col-sm-2 col-form-label">Votre masse graisseuse</label>

          <div class="col-sm-10">

            <input type="password" class="form-control" id="inputPassword3" placeholder="masse graisseuse">

          </div>

        </div>

        <div class="form-group row">

          <label for="inputPassword3" class="col-sm-2 col-form-label">Votre masse musculaire</label>

          <div class="col-sm-10">

            <input type="password" class="form-control" id="inputPassword3" placeholder="masse musculaire">

          </div>

        </div>

      </form>

    </div>

    <div class="col-5">

      <!-- rien -->

    </div>

    <div class="col">

      <h2>Mes recettes</h2>

      <img class="img-responsive" src="/assets/images/mesrecetteslivre.jpg" alt="ko">

    </div>


  </div>
</div>