
  
  button {
    margin: 16px 8px;
  }

  mat-card {
    font-size: 14px;
    margin-left: 10px;
  }
  

  .typeRepas {
    width: 50%;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }

  table {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }

  .TEST {
    width: 50%;
    height: 50%;
   
  }