<div class="center">
  <p> !! Page Repas under construction !! </p>
</div>

<div id="typeRepas">
  <div>
    <h4>Votre type de repas</h4>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Saisir le type de repas">
        <mat-option *ngFor="let typem of typeMeal" [value]="typem.value">
          {{ typem.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>






<div>

  <table>
    <thead>
      <tr>
        <th class="large">Aliments</th>
        <th class="small">IG</th>
        <th class="small">Portion
          <br> (en gr)</th>
        <th class="small">Glucides</th>
        <th class="small">CG</th>
        <th class="small">Supprimer</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let foodRow of foodsRow ; let i = index">
        <td>
          <!-- {{foodRow | json}} -->
          <form [formGroup]="stateForm">
            <mat-form-field class="autoCompletion">
              <input matInput type="text" matInput placeholder="Sélectionner votre aliment" formControlName="stateGroup" required [matAutocomplete]="autoGroup"
              />
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                  <mat-option *ngFor="let name of group.names" [value]="name">
                    {{ name }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <!-- <input type="text" name="AlimentName" value=""> -->
        </td>
        <td>
          <label for="ig"></label>
          <input [(ngModel)]="foodRow.ig" type="number" name="ig" id="ig" step="0.01" min="0">
        </td>
        <td class="small">
          <label for="portion"></label>
          <input [(ngModel)]="foodRow.portion" (change)="calculCG(i)" type="number" name="portion" id="portion" step="0.01" min="0">
        </td>
        <td class="small">
          <label for="glucides"></label>
          <input [(ngModel)]="foodRow.glucides" type="number" name="glucides" id="glucides" step="0.01" min="0">
        </td>
        <td class="coin">
          <label></label>
          <!-- <input type="submit">  -->
          <input disabled [(ngModel)]="foodRow.cg" type="number" name="glucides" id="glucides" step="0.01" min="0">
          <!-- <output  for="ig portion glucides" name="cg"> </output> -->
        </td>
        <td>
          <button class="btn btn-default" type="button" (click)="deleteFoodRow(i)">Delete</button>
        </td>

      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" style="text-align: left;">
          <button class="btn btn-default" type="button" (click)="addFoodRow()">Add</button>
        </td>

        <td>{{ getSum() }} </td>

      </tr>

    </tfoot>
  </table>
</div>
