<br>
<div id="typeRepas">

  <mat-form-field>
    <mat-select placeholder="Saisir le type de repas">
      <mat-option *ngFor="let typem of typeMeal" [value]="typem.value">
        {{ typem.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

&nbsp;
<div>

  <table>
    <thead>
      <tr>
        <th>
          <button mat-icon-button>
            <mat-icon style="font-size:25px; color: #82C46C" aria-label="Add" (click)="addFoodRow()">playlist_add</mat-icon>
          </button>
        </th>
        <th id="alignLeft">Aliments</th>
        <th>IG</th>
        <th>Portion
          <br> (en gr)</th>
        <th>Glucides</th>
        <th>CG</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <app-line-food *ngFor="let foodRow of foodsRow ; let i = index" [index]="i" [foodRow]="foodRow" (deleted)="deleteFoodRow($event)" ></app-line-food>
      <!-- <tr *ngFor="let foodRow of foodsRow ; let i = index">
        <td></td>
        <td>
          
          <form [formGroup]="foodForm">
            <mat-form-field>
              <input matInput type="text" matInput placeholder="Aliment..." formControlName="foodsGroup" required [matAutocomplete]="autoGroup"
                [(ngModel)]="foodRow.nameFood" />
              <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getFood(i)">
                <mat-optgroup *ngFor="let group of foodsGroupOptions | async" [label]="group.categorie">
                  <mat-option *ngFor="let food of group.foods" [value]="food">
                    {{ food.name }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </td>
        <td>
          <label for="ig"></label>
          <input [(ngModel)]="foodRow.ig" type="number" name="ig" id="ig" step="0.01" min="0" class="bordure">
        </td>
        <td>
          <label for="portion"></label>
          <input [(ngModel)]="foodRow.portion" (change)="calculCG(i)" type="number" class="bordure" name="portion" id="portion" step="0.01"
            min="0">
        </td>
        <td>
          <label for="glucides"></label>
          <input [(ngModel)]="foodRow.glucides" type="number" class="bordure" name="glucides" id="glucides" step="0.01" min="0">
        </td>
        <td>
          <label></label>

          <input disabled [(ngModel)]="foodRow.cg" type="number" class="bordure" name="glucides" id="glucides" step="0.01" min="0">

        </td>
        <td>
          <button mat-icon-button>
            <mat-icon style="font-size:25px; color:#FF5E4D" aria-label="Delete" (click)="deleteFoodRow(i)">delete</mat-icon>
          </button>


        </td>
      </tr> -->
    </tbody>
    <tfoot>
      <td>
        &nbsp;
      </td>
      <td> &nbsp; </td>
      <td> &nbsp; </td>
      <td>CG totale du repas</td>
      <td>{{ getSum() }} </td>
      <td> &nbsp; </td>
    </tfoot>
  </table>
</div>
&nbsp; &nbsp;
<form>
  <div>
    <label class="form-group" for="exampleFormControlTextarea1">Commentaire sur le repas :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
