/* .center {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(46, 236, 46); */
/* } */

#typeRepas {
  display: flex;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-left: 10px;
}

/* Structure */

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 80%;
  font-weight: bold;
  margin-left: 15px;
}

/* .CG {
  background-color: #FDE9E0;
} */


th,
td,
tfoot {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#alignLeft {
  text-align: center;
}

th,
tfoot {
  color: cornflowerblue;
}

tfoot {
  height: 5px;
}

mat-form-field {
  font-size: 14px;
}

form {
  display: inline;
}

.bordure {
  border: hidden;
  text-align: center
}

.form-control,
.form-group {
  color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 80%;
  font-weight: bold;
  margin-left: 15px;
}
