/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 10%;
  }
  
  form
  {
  display:inline;
  }

.autoCompletion {
  width: 90%;
}

.coin {
  
  border:1px solid black; 
   
  }

  